html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-image: url("./starstwinkle.gif");
}

a {
    color: #fff;
    text-decoration: none;
}

#pfp {
    clip-path: circle();
    width: 128px;
    height: auto;
}

#info {
    display: flex;
    width: 50%;
    align-items: center;
}

#pfp, #text {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#trackname {
    color: #fff;
    text-decoration: none;
}

#trackartist {
    color:rgb(121, 121, 121);
    text-decoration: none;
}

div {
    display: flex;
    width: 300px;
}