html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-image: url("./starstwinkle.gif");
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

#pfp {
    clip-path: circle();
    width: 128px;
    height: auto;
}

#info span {
    text-align: center;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
}

#trackname {
    color: #fff;
    text-decoration: none;
}

#trackartist {
    color:rgb(121, 121, 121);
    text-decoration: none;
}

#songs, #albums {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    opacity: 75%;
}